<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>helloworld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- mapping -->
<!--   <servlet>
  	<servlet-name>helloworld</servlet-name> 임의의 이름을 만들어줌
  	<servlet-class>com.javalec.ex.HelloWorld</servlet-class> 매핑할 클래스 파일명을 패키지명을 포함하여 입력
  </servlet>
  <servlet-mapping>
  	<servlet-name>helloworld</servlet-name> 임의의 이름으로 설정한 이름을 가져옴
  	<url-pattern>/hw</url-pattern> servlet-class의 클래스를 매핑할 임의의 이름을 입력. '/'로 시작
  </servlet-mapping> -->
</web-app>